@font-face {
  font-family: Berlin;
  src: url(Berlin\ Sans\ FB\ Regular.ttf);
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.page1 {
  background-image: url(solecrafter\ bg\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 1%;
}
.logo {
  position: relative;
  height: 150px;
  width: 150px;
  margin-bottom: -12%;
  margin-left: -1.5%;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 15px;
  margin: 0px;
  background-color: #4f200d;
  border: solid 1px #4f200d;
  border-radius: 50px 0px 0px 50px;
  height: 60px;
}
.components {
  font-family: Berlin;
  padding-top: 1.5%;
  padding-left: 10%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  gap: 80px;
  font-size: 20px;
  color: aliceblue;
}
.customize:hover,
.store:hover,
.men1:hover,
.women1:hover,
.about:hover {
  font-size: 20px;
  color: #ffef1f;
}
.login_container {
  font-family: Berlin;
  text-align: center;
  width: 100px;
  height: 50px;
  margin-left: 18%;
  margin-bottom: 0.25%;
  margin-top: 0.25%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 0.25%;
  border: solid 1px black;
  border-radius: 40px;
  background-color: black;
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
}
.login_container:hover {
  background-color: aliceblue;
  font-size: 18px;
  color: black;
}
.homepage {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
}
.home_text {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}
.line1 {
  font-size: 60px;
  color: #f8c35a;
  font-family: Berlin;
}
.line2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 62px;
  color: #ffef1f;
  font-family: Berlin;
}
.line02 {
  font-size: 62px;
  color: #f8c35a;
  font-family: Berlin;
}
.line3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 64px;
  color: #ffef1f;
  font-family: Berlin;
}
.line03 {
  font-size: 64px;
  color: azure;
  font-family: Berlin;
}
.line4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 66px;
  color: #ffef1f;
  font-family: Berlin;
}
.line04 {
  font-size: 66px;
  margin-left: -10px;
  color: azure;
  font-family: Berlin;
}
.line5 {
  font-size: 70px;
  color: azure;
  font-family: Berlin;
}
.cta1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: left;
  border: solid 1px black;
  border-radius: 50px;
  padding: 10px;
  width: 220px;
  padding-left: 50px;
  background-color: black;
  font-family: Berlin;
  font-size: 25px;
  color: aliceblue;
  margin-left: 1%;
  margin-top: 1%;
}
.cta_1 {
  padding-top: 10px;
}
.arrow {
  height: 40px;
  transform: rotate(90deg);
}
.arrow_icon {
  transform: rotate(180deg);
}
.cta1:hover {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: left;
  border: solid 1px black;
  border-radius: 50px;
  padding: 10px;
  width: 220px;
  padding-left: 50px;
  background-color: rgb(254, 254, 254);
  font-family: Berlin;
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-left: 1%;
  margin-top: 1%;
}
.page2 {
  position: relative;
  margin: 0;
  background-color: #4f200d;
  height: 100%;
  width: 100%;
}
.gallery {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-top: 23%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.product1 {
  margin-top: 0;
  padding: 0;
  width: 250px;
  height: 300px;
}
.product2 {
  margin-top: -20%;
  width: 250px;
}
.line {
  position: relative;
  margin-top: -11.5%;
}
.product3 {
  position: relative;
  margin-top: 0%;
  margin-left: 25%;
  width: 500px;
  height: 350px;
  padding-left: 100px;
}
.shoe_print {
  height: 220px;
  width: 800px;
  position: relative;
  margin-left: 6%;
  margin-top: -8%;
}
.print4 {
  position: relative;
  width: 280px;
  margin-left: 50%;
  margin-top: -25%;
}
.container {
  height: 250px;
  margin: auto;
  position: relative;
  padding-top: -7.5%;
  padding-bottom: 0;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider {
  display: flex;
  width: calc(400px * 8);
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 4));
  }
}
.page3 {
  background-image: url(sole\ crafter\ bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 1%;
}
.categories {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 25px;
  perspective: 100px;
  z-index: 1;
  transition: transform 2s ease-in;
}
.men,
.women,
.kids {
  position: relative;
  height: 350px;
  width: 250px;
}
.men-img,
.women-img,
.kids-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quote {
  width: 600px;
  position: relative;
  padding-bottom: 7%;
  margin-top: 28%;
  margin-left: 52%;
  margin-bottom: 5%;
  margin-right: 5%;
  font-family: Berlin;
  font-size: 38px;
  color: aliceblue;
}
.men:hover,
.women:hover {
  transform: translateZ(5px);
}
.page4 {
  background-image: url(how\ its\ done\ bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.page4content {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  border-bottom: solid 2px #251717;
}
.pagedesc {
  font-family: berlin;
  font-size: 80px;
  color: #f5f1f1;
}
.cardcontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card1 {
  position: relative;
  padding: 1%;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 40px;
}
.card1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.card1desc {
  width: 100%;
  height: 100%;
  top: 0;
  right: -104%;
  position: absolute;
  background-color: #25171748;
  backdrop-filter: blur(3px);
  border-radius: 40px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}
.card1:hover .card1desc {
  right: -3%;
}
.card1body {
  padding-top: 5%;
  text-align: center;
  font-family: Berlin;
  font-size: 16px;
  color: #ffffff;
}
.cardsubcontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.card2 {
  position: relative;
  padding: 1%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 40px;
}
.card2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.card2desc {
  width: 100%;
  height: 100%;
  top: 0;
  right: -104%;
  position: absolute;
  background-color: #25171748;
  backdrop-filter: blur(3px);
  border-radius: 40px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}
.card2:hover .card2desc {
  right: -3%;
}
.card2body {
  padding-top: 5%;
  text-align: center;
  font-family: Berlin;
  font-size: 14px;
  color: #ffffff;
}
.card3 {
  position: relative;
  padding: 1%;
  width: 230px;
  height: 250px;
  overflow: hidden;
  border-radius: 40px;
}
.card3-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.card3desc {
  width: 100%;
  height: 100%;
  top: 0;
  right: -104%;
  position: absolute;
  background-color: #25171748;
  backdrop-filter: blur(3px);
  border-radius: 40px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}
.card3:hover .card3desc {
  right: -3%;
}
.card3body {
  padding-top: 1%;
  text-align: center;
  font-family: Berlin;
  font-size: 14px;
  color: #ffffff;
}
.reviewpage {
  margin-top: 0%;
  background-image: url(reviews\ bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 16%;
  padding-bottom: 13%;
}
.reviewslider {
  margin-left: 21%;
  width: 50px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.slide {
  padding-left: 10%;
  width: 100%;
  max-width: 900px;
  height: 600px;
  position: absolute;
  transition: all 1s ease-in;
}

.slide img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.leftbtn,
.rightbtn {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #4f200d;
  font-size: 18px;
}

.leftbtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rightbtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftbtn:active {
  transform: scale(1.1);
}
.rightbtn:active {
  transform: scale(1.1);
}
.page5 {
  background-color: #251717;
}
.contact_heading {
  margin-left: 1%;
  margin-top: -10%;
  padding: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact {
  font-size: 60px;
  color: #f9eeee;
  font-family: Berlin;
}
.contact_desc {
  font-size: 16px;
  color: #867c7c;
  width: 350px;
  text-align: center;
  font-family: Berlin;
}
.contact_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 800px;
}
.contact_logo {
  margin-top: -10%;
  margin-left: -6%;
}
.contact_container {
  margin-left: 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 7%;
}
.phone,
.email,
.media,
.address {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 350px;
}
.head {
  font-size: 18px;
  color: #f5f1f1;
  font-family: Berlin;
}
.desc {
  font-size: 16px;
  color: #867c7c;
  font-family: rockwell;
}
.media_links {
  position: relative;
  margin-left: 80%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 30px;
}
@media screen and (min-width: 1400px) {
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .page1 {
    background-image: url(solecrafter\ bg\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 1%;
  }
  .logo {
    position: relative;
    height: 150px;
    width: 150px;
    margin-bottom: -10%;
    margin-left: -1.5%;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 15px;
    margin-top: 0.1%;
    background-color: #4f200d;
    border: solid 1px #4f200d;
    border-radius: 50px 0px 0px 50px;
    height: 60px;
  }
  .components {
    font-family: Berlin;
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: 20px;
    color: aliceblue;
  }
  .customize:hover,
  .store:hover,
  .men1:hover,
  .women1:hover,
  .about:hover {
    font-size: 20px;
    color: #ffef1f;
  }
  .login_container {
    font-family: Berlin;
    text-align: center;
    width: 100px;
    height: 50px;
    margin-left: 25%;
    margin-bottom: 0.25%;
    margin-top: 0.25%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0.25%;
    border: solid 1px black;
    border-radius: 40px;
    background-color: black;
    font-size: 18px;
    font-weight: 700;
    color: aliceblue;
  }
  .login_container:hover {
    background-color: aliceblue;
    font-size: 18px;
    color: black;
  }
  .homepage {
    position: relative;
    padding-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    gap: 250px;
  }
  .shoes {
    padding-top: 2%;
  }
  .home_text {
    position: relative;
    margin-left: -12%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
  }
  .line1 {
    font-size: 65px;
    color: #f8c35a;
    font-family: Berlin;
  }
  .line2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 67px;
    color: #ffef1f;
    font-family: Berlin;
  }
  .line02 {
    font-size: 67px;
    color: #f8c35a;
    font-family: Berlin;
  }
  .line3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 69px;
    color: #ffef1f;
    font-family: Berlin;
  }
  .line03 {
    font-size: 69px;
    color: azure;
    font-family: Berlin;
  }
  .line4 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 71px;
    color: #ffef1f;
    font-family: Berlin;
  }
  .line04 {
    font-size: 71px;
    margin-left: -10px;
    color: azure;
    font-family: Berlin;
  }
  .line5 {
    font-size: 75px;
    color: azure;
    font-family: Berlin;
  }
  .cta1 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: left;
    border: solid 1px black;
    border-radius: 50px;
    padding: 10px;
    width: 220px;
    padding-left: 50px;
    background-color: black;
    font-family: Berlin;
    font-size: 25px;
    color: aliceblue;
    margin-left: 1%;
    margin-top: 1%;
  }
  .cta_1 {
    margin-top: 1%;
    padding-top: 10px;
  }
  .arrow {
    height: 40px;
    transform: rotate(90deg);
  }
  .arrow_icon {
    transform: rotate(180deg);
  }
  .cta1:hover {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: left;
    border: solid 1px black;
    border-radius: 50px;
    padding: 10px;
    width: 220px;
    padding-left: 50px;
    background-color: rgb(254, 254, 254);
    font-family: Berlin;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-left: 1%;
    margin-top: 1%;
  }
}
.page2 {
  position: relative;
  margin: 0;
  background-color: #4f200d;
  height: 100%;
  width: 100%;
}
.gallery {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-top: 23%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.product1 {
  margin-top: 0;
  padding: 0;
  width: 250px;
  height: 300px;
}
.product2 {
  margin-top: -24%;
  width: 250px;
}
.line {
  position: relative;
  margin-top: -11.5%;
}
.product3 {
  position: relative;
  margin-top: -29%;
  margin-left: 25%;
  width: 500px;
  height: 350px;
  padding-left: 100px;
}
.shoe_print {
  height: 220px;
  width: 900px;
  position: relative;
  margin-left: 6%;
  margin-top: 3%;
}
.print4 {
  position: relative;
  width: 280px;
  margin-left: 50%;
  margin-top: -20%;
}
.container {
  height: 250px;
  margin: auto;
  position: relative;
  padding-top: -7.5%;
  padding-bottom: 0;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider {
  display: flex;
  width: calc(400px * 8);
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 4));
  }
}
.categories {
  padding-left: 5%;
  padding-top: 32%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 25px;
  perspective: 100px;
  z-index: 1;
  transition: transform 2s ease-in;
}
.men,
.women,
.kids {
  position: relative;
  padding: 1%;
  height: 600px;
  width: 400px;
}
.men-img,
.women-img,
.kids-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kids {
  margin-top: 1%;
}
.pagedesc {
  font-size: 90px;
}
.reviewpage {
  background-image: url(review\ copy1.png);
  background-size: 100% 85%;
  background-repeat: no-repeat;
  background-color: #4f200d;
  width: 100%;
  margin: 0;
  padding-top: 0%;
  padding-bottom: 15%;
}
.reviewrow {
  display: flex;
  flex-direction: row;
}
.reviewslider {
  margin-left: 10%;
  width: 100%;
  max-width: 1100px;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.slide {
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-left: 15%;
  width: 100%;
  width: 1200px;
  height: 600px;
  position: absolute;
  transition: all 1s ease-in;
}

.slide img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.leftbtn,
.rightbtn {
  position: absolute;
  width: 70px;
  height: 70px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #4f200d;
  font-size: 18px;
}
.rightbtn {
  margin-left: 80%;
}
.leftbtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rightbtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftbtn:active {
  transform: scale(1.1);
}
.rightbtn:active {
  transform: scale(1.1);
}
.reviewslider {
  margin-left: 25%;
  width: 50px;
  height: 550px;
  position: relative;
  overflow: hidden;
}
